.content{
    margin-left: 15px;
    margin-right: 15px;
}
.logo{
    margin-bottom: 20px;
}
.logo img{
    width: 40px;
}
.menu ul{
    list-style: none;
    padding-left: 0;
}
.menu ul li{
    font-weight: bold;
    margin-bottom: 15px;
}
.menu ul li a{
    padding: 12px;
    color: #000;
    font-size: 16px;
    line-height: 21px;
}
.menu ul li a:hover{
    text-decoration: none;
    background-color: #E8F6FD;
    border-radius: 25px;
}
.menu ul li a img{
    width: 20px;
    margin-right: 15px;
}
.active{
    color: #1DA1F2 !important;
}
.tweet-button{
    background-color: #1991da;
    text-align: center;
    display: block;
    border-radius: 25px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}
.tweet-button:hover{
    text-decoration: none;
    color: #fff;
}
.left-column{
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.center-column{
    position: relative;
    height: 100%;
    left: 25%;
}
.right-column{
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
}
.h-full{
    position: fixed;
    height: 100% !important;
}
.user{
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
}
.user p span{
    font-weight: normal;
    color: #5b7083
}
.user img{
    width: 50px;
    margin-right: 10px;
}
.tweet-content img{
    width: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.tweet-profile-image{
    width: 100%;
    text-align: right;
}
.tweet textarea{
    width: 100%;
    border: none;
}
.tweet textarea:focus{
    outline: none;
}
.tweet-send{
    border-radius: 25px;
    background-color: #1991da;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    float: right;
}
.tweet-send:hover{
    color: #fff;
    text-decoration: none;
}
.tweets{
    position: relative;
    overflow: scroll;
}
.tweets ul{
    list-style: none;
}
.tweets ul li{
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}
.tweet-profile{
    width: 100%;
}
.tweet-actions{
    margin-top: 10px;
    display: block;
}
.tweet-actions img{
    width: 20px;
    margin-right: 75px;
}
.verified{
    width: 15px;
}
.search{
    width: 100%;
    background-color: #EBEEF0;
    padding: 5px;
    border-radius: 25px;
}
.search input{
    background-color: transparent;
    border: none;
}
.search-image{
    width: 25px;
}
.hashtag-block{
    background-color: #F7F9FA;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hashtag-block ul{
    padding-left: 0;
    list-style: none;
}
.hashtag-block ul li{
    border-bottom: 1px solid #EFF1F2;
    padding: 10px;
}
.hashtag-block ul li:last-child{
    border-bottom: none;
}
.hashtag-block ul li a:hover{
    text-decoration: none;
}
.hastag-title{
    font-size: 13px;
}
.hastag-tweet{
    font-size: 11px;
}
.font-small{
    font-size: 13px;
    margin-right: 10px;
}